<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        canvas {
            border: 1px solid black;
        }

        body {
            background: 0 -100px repeat-x url(https://mdn.mozillademos.org/files/5415/bg_gallery.png) #4F191A;
            margin: 10px;
        }
    </style>
</head>

<body>
    <canvas id="textCanvas" width="150"></canvas>
    <canvas id="textCanvas" width="150"></canvas>

    <canvas id="containerCanvas"></canvas>
</body>
<script>
    let canvasArr = document.querySelectorAll("#textCanvas");
    for (let i = 0; i < canvasArr.length; i++) {
        let ctx = canvasArr[i].getContext("2d");
        ctx.fillText(" i am canvas " + i, 10, 10 + 10 * i)
    }

    let containerCanvas = document.querySelector("#containerCanvas");
    let ctx_containerCanvas = containerCanvas.getContext("2d");
    for (let i = 0; i < canvasArr.length; i++) {
        ctx_containerCanvas.drawImage(canvasArr[i], 150 * i, 0)
    }

    
</script>

</html>

<!-- 

    drawImage(image, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight)
    第一个参数和其它的是相同的，都是一个图像或者另一个 canvas 的引用。其它8个参数最好是参照右边的图解，前4个是定义图像源的切片位置和大小，后4个则是定义切片的目标显示位置和大小。


    drawImage(image, x, y)----- 其中 image 是 image 或者 canvas 对象，x 和 y 是其在目标 canvas 里的起始坐标



    如同前文所述，过度缩放图像可能会导致图像模糊或像素化。您可以通过使用绘图环境的imageSmoothingEnabled属性来控制是否在缩放图像时使用平滑算法。默认值为true，即启用平滑缩放。您也可以像这样禁用此功能(兼容性写法)：

    ctx.mozImageSmoothingEnabled = false;
    ctx.webkitImageSmoothingEnabled = false;
    ctx.msImageSmoothingEnabled = false;
    ctx.imageSmoothingEnabled = false;
 -->